{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-standard-vue/scss",
    "stylelint-config-recess-order"
  ],
  "ignoreFiles": ["**/node_modules/**", "dist/**/*.css", "src/styles/_reset.scss"],
  "rules": {}
}
