*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(
  :any-link,
  button:not(disabled),
  [type='button']:not(disabled),
  [type='reset']:not(disabled),
  [type='submit']:not(disabled),
  label[for],
  select,
  summary,
  [role='tab'],
  [role='button']
) {
  cursor: pointer;
  touch-action: manipulation;
}

input, button, textarea, select, pre, address {
  font: inherit;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
  // field-sizing: content;
}

fieldset {
  min-width: 0;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

ul:where([class]),
ol:where([class]) {
  list-style-type: '';
}

main {
	overflow-x: hidden;
}

summary {
  list-style-type: '';

  &::-webkit-details-marker {
    display: none;
  }
}

button {
  border: none;
  appearance: none;
}

a {
	color: inherit;

	&:where([class]) {
    text-decoration: none;
  }
}

:focus:not(:focus-visible) {
  outline: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    transition-delay: 0s !important;
    transition-duration: 1ms !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset .25s ease;
  }

  :focus:not(:active) {
    outline-offset: 5px;
  }
}
