*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, area, button, input, label, select, summary, textarea, [tabindex] {
  touch-action: manipulation;
}

input, button, textarea, select, pre {
  font: inherit;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

textarea {
  overflow: auto;
  resize: none;
}

fieldset {
  min-width: 0;
  border: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

[role=button] {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

ul:where([class]),
ol:where([class]) {
  list-style: none;
}

main {
	overflow-x: hidden;
}

summary {
  list-style: none;
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }
}

button {
  border: none;
  appearance: none;
}

button:not(disabled), [type=button]:not(disabled), [type=reset]:not(disabled), [type=submit]:not(disabled) {
  cursor: pointer;
}

a {
	color: inherit;

	&:where([class]) {
    text-decoration: none;
  }
}

:focus:not(:focus-visible) {
  outline: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    transition-delay: 0s !important;
    transition-duration: 1ms !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset .25s ease;
  }

  :focus:not(:active) {
    outline-offset: 5px;
  }
}
